.under18 {
  display: none;
}
.votingInfo {
  display: none;
}
.sheikhDiv {
  display: none;
}
.vladDiv {
  display: none;
}
.saddamDiv {
  display: none;
}
.votingLocations li {
  display: none;
}
.dateWinner {
  color: pink;
  background: black;
}
<<<<<<< HEAD
.triWinner {
  color: orange;
  background: blue;
}
=======
>>>>>>> 7ca21ab5dc31fd86de2ec2e66caf2fe1887b2941
