.under18 {
  display: none;
}
.votingInfo {
  display: none;
}
.sheikhDiv {
  display: none;
}
.vladDiv {
  display: none;
}
.saddamDiv {
  display: none;
}
.votingLocations li {
  display: none;
}
.dateWinner {
  color: pink;
  background: black;
}
